<div>
  <h1><%= @list.name %></h1>
</div>

<div>
  <p><%= link_to "Add Bookmark", new_list_bookmark_path(@list) %></p>
</div>

<div>
  <% @list.bookmarks.each_with_index do |bookmark,index| %>
    <div class="movie-poster" style="background-image:  url(<%= bookmark.movie.poster_url %>)">


      <h2><%= bookmark.movie.title %></h2>
      <p><%= bookmark.comment %></p>
    </div>
    <%= link_to "Delete Bookmark", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: 'Destroy?'} %>
  <% end %>
</div>

<div>
  <p><%= link_to "Back to Lists", lists_path(@lists) %></p>
</div>
